// Mixins in here

.border(){
    // border: 2px solid red;
    width: 150px;
    height: 50px;
    border-radius: 2rem;
    background: @button-bg;
    color: @main-bg;

    &:hover{
        background: grey;
        color: red;
    }
}
.buttonstyle(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;

}