// Navigation Styles here

nav{
    width: 90%;
    height: 10rem;
    margin: 0 10rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px dashed gray;
    color: black;
    align-items: center;
}

.navtwo{
    width: 60%;
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
}

a{
    width: 100%;
    text-decoration: none;
    // margin: 0 20px; 
    font-size: 16px;

}